<div class="container">
{{help-card help=model.help}}
<h4>
  {{stix-object-icon objectType="course-of-action"}}
  Courses of Action
</h4>
<div class="row">
  <div class="col s6">
    {{#link-to "course-of-action-new" class="btn waves-effect waves-light"}}
      New
    {{/link-to}}
    {{md-btn text="Download" class="grey lighten-1" action="downloadBundle" actionArg=model.items}}
  </div>

  <div class="col s6 right-align">
    <span class="right-align">Results: {{model.items.length}}</span>
  </div>
</div>

{{#md-collection content=model.items as |item|}}
  <div class="collection-item">
    {{#link-to "course-of-action" item.id}}
    {{item.name}}
    {{/link-to}}

    {{#each item.external_references as |external_reference|}}
      <div class="chip">{{external_reference.source_name}}:{{external_reference.external_id}}</div>
    {{/each}}
    <div class="secondary-content">
      {{#link-to (query-params deleteObjectId=item.id) class="red-text"}}
        <i class="material-icons">delete</i>
      {{/link-to}}
    </div>
  </div>
{{/md-collection}}
</div>